$main_color: #274a78;

$website_background: #ebf6f7;

$header_background: #2a83a2;
$header_color: #e8ecef;
$header_shadow: darken($header_color, 30%);

$article_background: #a0d8ef;
$article_color: #274a78;
$article_shadow: lighten($article_color, 55%);
$article_box_shadow: darken($article_background, 10%);

$footer_color: #698aab;
$footer_shadow: mix($footer_color, $website_background);

header, article, footer, hgroup
{
	display: block;
}


a
{
	color: inherit;
	text-decoration: none;
}

html
{
	background: $website_background;
	margin: 0;
	font-face: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.25em;

	body
	{
		width: 600px;
		margin: 0 auto;

		header
		{
			padding: 10px 0 0;

			background: $header_background;
			color: $header_color;
			text-shadow: 0 1px 0 $header_shadow;




			hgroup
			{

				text-align: center;

				h1
				{
					margin: 10px 0 5px;
				}

				h2
				{
					font-size: 0.8em;
					margin: 5px 0 10px;
				}

			}



			nav#mainMenu
			{
				display: block;

				ul
				{
					margin: 0;
					padding: 0;
					text-align: center;

					li
					{
						display: inline-block;
						text-align: center;

						a
						{
							display: block;
							text-decoration: none;
							line-height: 1.5em;
							padding: 0 1em;
							background: darken($header_background, 10%);
							
							border-radius: 5px 5px 0 0;
							-webkit-border-radius: 5px 5px 0 0;
							-moz-border-radius: 5px 5px 0 0;
							-o-border-radius: 5px 5px 0 0;
						}

						&.current a, &.current a:hover
						{
							background: $article_background;
							color: $article_color;
							text-shadow: 0 1px 0 $article_shadow;

							box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-o-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
						}

						&.current-ancestor a, &.current-ancestor a:hover
						{
							background: lighten($header_background, 10%);

							box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
							-o-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
						}

						a:hover
						{
							background: lighten($header_background, 5%);
						}

					}

					&.submenu
					{
						padding-top: 0.5em;
						background: lighten($header_background, 10%);
						box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
						-webkit-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
						-moz-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
						-o-box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
					}

				}
			}
		}

		article
		{
			background: $article_background;
			color: $article_color;
			text-shadow: 0 1px 0 $article_shadow;
			padding: 10px 20px;

			border-radius: 0 0 10px 10px;
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			-o-border-radius: 0 0 10px 10px;

			box-shadow: 0 1px 0 $article_box_shadow, 0 -1px 0 rgba(0,0,0,0.1);
			-o-box-shadow: 0 1px 0 $article_box_shadow, 0 -1px 0 rgba(0,0,0,0.1);
			-moz-box-shadow: 0 1px 0 $article_box_shadow, 0 -1px 0 rgba(0,0,0,0.1);
			-webkit-box-shadow: 0 1px 0 $article_box_shadow, 0 -1px 0 rgba(0,0,0,0.1);

			h1 { font-size: 1.5em; }
			h2 { font-size: 1.4em; }
			h3 { font-size: 1.3em; }
			h4 { font-size: 1.2em; }
			h5 { font-size: 1.1em; }
			h6 { font-size: 1em; }

			a
			{
				color: lighten($article_color, 10%);

				&:hover
				{
					color: lighten($article_color, 5%);
				}
			}
		}
		
		footer
		{
			padding: 10px 20px;
			font-size: 0.8em;
			color: $footer_color;

			a
			{
				color: lighten($footer_color, 10%);

				&:hover
				{
					color: lighten($footer_color, 5%);
				}
			}
		}

	}

}
